# HeroesOfPymoli Analysis

In [1]:
import pandas as pd
import csv
import numpy as np

In [2]:
file_path = "purchase_data.csv"
purchase_data = pd.read_csv(file_path)

In [3]:
#purchase_data.columns

In [4]:
#Get unique screen names
total_players = purchase_data["SN"].value_counts()
len(total_players)

576

# Player Count

In [5]:
total_players_df = pd.DataFrame({"Total Players": [len(total_players)]})
total_players_df

   Total Players
0            576

In [6]:
total_count = len(total_players)

In [7]:
reduced_purchase_data = purchase_data[["SN", "Age", "Gender"]]
no_dupes_data_df = reduced_purchase_data.drop_duplicates()
no_dupes_data_df.head()

              SN  Age Gender
0        Lisim78   20   Male
1    Lisovynya38   40   Male
2     Ithergue48   24   Male
3  Chamassasya86   24   Male
4      Iskosia90   23   Male

In [8]:
unique_items = purchase_data["Item ID"].nunique()
unique_items

183

In [9]:
purchases = len(purchase_data)
purchases

780

In [10]:
total_rev = purchase_data["Price"].sum()
total_rev

2379.77

In [11]:
avg_price = total_rev/purchases
avg_price

3.0509871794871795

# Overall Purchasing Analysis

In [12]:
summary_df = pd.DataFrame({
    "Qty. Unique Items" : [unique_items], "Average Price" : [avg_price], "Number of Purchases" : [purchases], "Total Revenue" : [total_rev]
})
summary_df

#formatting
summary_df["Average Price"] = summary_df["Average Price"].map("${: .2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${: .2f}".format)
summary_df

   Qty. Unique Items Average Price  Number of Purchases Total Revenue
0                183        $ 3.05                  780     $ 2379.77

In [13]:
male_purchasers = purchase_data.loc[(purchase_data["Gender"] == "Male")]
len(male_purchasers)

unique_male_players = male_purchasers["SN"].value_counts()
len(unique_male_players)

484

In [14]:
males_count = len(unique_male_players)

In [15]:
female_purchasers = purchase_data.loc[(purchase_data["Gender"] == "Female")]
len(female_purchasers)

unique_female_players = female_purchasers["SN"].value_counts()
len(unique_female_players)

81

In [16]:
females_count = len(unique_female_players)

In [17]:
nondisc_count = (total_count) - (males_count + females_count)
nondisc_count

11

In [18]:
male_percent = ((males_count / total_count) * 100)
round(male_percent, 1)

84.0

In [19]:
female_percent = ((females_count / total_count) * 100)
round(female_percent, 1)

14.1

In [20]:
nondisc_percent = ((nondisc_count / total_count) * 100)
round(nondisc_percent, 1)

1.9

# Gender Breakdown

In [21]:
gender_df = pd.DataFrame ({"Gender" : ["Male", "Female", "Non-Disclosed"], "Percentage of Players" : [male_percent, female_percent, nondisc_percent], "Total Count" : [males_count, females_count, nondisc_count]
    
})
#formatting
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{: .1f}%".format)

gender_df

          Gender Percentage of Players  Total Count
0           Male                 84.0%          484
1         Female                 14.1%           81
2  Non-Disclosed                  1.9%           11

# Purchasing Analysis by Gender

In [22]:
male_purchasers = purchase_data.loc[(purchase_data["Gender"] == "Male")]

In [23]:
female_purchasers = purchase_data.loc[(purchase_data["Gender"] == "Female")]

In [24]:
nondisc_purchasers = purchase_data.loc[(purchase_data["Gender"] == "Other / Non-Disclosed")]

In [25]:
purchase_count_by_male_purchasers = len(male_purchasers)
purchase_count_by_male_purchasers

652

In [26]:
purchase_count_by_female_purchasers = len(female_purchasers)
purchase_count_by_female_purchasers

113

In [27]:
purchase_count_by_nondisc_purchasers = len(nondisc_purchasers)
purchase_count_by_nondisc_purchasers

15

In [28]:
male_rev = male_purchasers["Price"].sum()
male_rev

1967.64

In [29]:
female_rev = female_purchasers["Price"].sum()
female_rev

361.94

In [30]:
nondisc_rev = nondisc_purchasers["Price"].sum()
nondisc_rev

50.19

In [31]:
avg_male_purchases = male_rev/purchase_count_by_male_purchasers
avg_male_purchases

3.0178527607361967

In [32]:
avg_female_purchases = female_rev/purchase_count_by_female_purchasers
avg_female_purchases

3.203008849557522

In [33]:
avg_nondisc_purchases = nondisc_rev/purchase_count_by_nondisc_purchasers
avg_nondisc_purchases

3.3459999999999996

In [34]:
avg_purch_male_person = male_rev/males_count
avg_purch_female_person = female_rev/females_count
avg_purch_nondisc_person = nondisc_rev / nondisc_count

In [35]:
purch_analy_by_gender_df = pd.DataFrame({"Gender" : ["Male", "Female", "Nondisclosed"], "Purchase Count" : [purchase_count_by_male_purchasers, purchase_count_by_female_purchasers, \
                                                                purchase_count_by_nondisc_purchasers], "Average Purchase Price" : \
                                                                [avg_male_purchases, avg_female_purchases, avg_nondisc_purchases],\
                                                                "Total Purchase Value" : [male_rev, female_rev, nondisc_rev], "Avg Total Purchase per Person" :\
                                                                 [avg_purch_male_person, avg_purch_female_person, avg_purch_nondisc_person]
    
})
#Formatting 
purch_analy_by_gender_df["Average Purchase Price"] = purch_analy_by_gender_df["Average Purchase Price"].map("${: .2f}".format)
purch_analy_by_gender_df["Total Purchase Value"] = purch_analy_by_gender_df["Total Purchase Value"].map("${: .2f}".format)
purch_analy_by_gender_df["Avg Total Purchase per Person"] = purch_analy_by_gender_df["Avg Total Purchase per Person"].map("${: .2f}".format)

purch_analy_by_gender_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,$ 3.02,$ 1967.64,$ 4.07
1,Female,113,$ 3.20,$ 361.94,$ 4.47
2,Nondisclosed,15,$ 3.35,$ 50.19,$ 4.56

# Age Demographics

In [36]:
#purchase_data["Age"].max()

In [37]:
#purchase_data["Age"].min()

In [38]:
bins = [5, 9, 14, 19, 24, 29, 34, 39, 44]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [39]:
age_group_members = pd.cut(no_dupes_data_df["Age"], bins, labels = group_names)
age_group_members

age_group_members.value_counts()

age_group_counts = age_group_members.value_counts()
age_group_counts

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       11
Name: Age, dtype: int64

In [40]:
perc_players = ((age_group_counts /total_count) * 100)
perc_players

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
40+       1.909722
Name: Age, dtype: float64

# Age Demographics

In [41]:
age_analy_df = pd.DataFrame({
                            "Total Count" : age_group_counts, "Percentage of Players" : perc_players
                            })
#formatting
age_analy_df["Percentage of Players"] = age_analy_df["Percentage of Players"].map("{:.2f}%".format)

age_analy_df.index.name = "Age Groups"
age_analy_df.sort_index()

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  11                 1.91%

# Purchasing Analysis (Age)

In [42]:
bins = [5, 9, 14, 19, 24, 29, 34, 39, 44]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [43]:
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels = group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [44]:
age_total_count = purchase_data.groupby(["Age Groups"]).count()["Price"].rename("Purchase Count")
age_avg_price = purchase_data.groupby(["Age Groups"]).mean()["Price"].rename("Avg Purchase Price")
age_total_val = purchase_data.groupby(["Age Groups"]).sum()["Price"].rename("Total Purchase Value")

avg = age_total_val/age_total_count

In [45]:
age_groups_df = pd.DataFrame ({"Purchase Count": age_total_count, "Avg Purchase Price": age_avg_price, "Total Purchase Value": age_total_val, "Avg Total Purch. per Person": avg
                                }).sort_index()

#formatting
age_groups_df["Avg Purchase Price"] = age_groups_df["Avg Purchase Price"].map("${:.2f}".format)
age_groups_df["Total Purchase Value"] = age_groups_df["Total Purchase Value"].map("${:.2f}".format)
age_groups_df["Avg Total Purch. per Person"] = age_groups_df["Avg Total Purch. per Person"].map("${:.2f}".format)

age_groups_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purch. per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,12,$3.04,$36.54,$3.04

# Top Spenders

In [46]:
purchase_count_by_SN = purchase_data["SN"].value_counts()
#purchase_count_by_SN

In [47]:
total_spend_by_SN = purchase_data.groupby(["SN"]).sum()["Price"]
#total_spend_by_SN

In [48]:
avg_spend_by_SN = purchase_data.groupby(["SN"]).mean()["Price"]
#avg_spend_by_SN

In [49]:
SN_df = pd.DataFrame({"Purchase Count": purchase_count_by_SN, "Avg Purchase Price" : avg_spend_by_SN, "Total Purchase Spend": total_spend_by_SN  
    
})
SN_df
SN_df = SN_df.sort_values("Total Purchase Spend", ascending =False)


#formatting
SN_df["Avg Purchase Price"] = SN_df["Avg Purchase Price"].map("${: .2f}".format)
SN_df["Total Purchase Spend"] = SN_df["Total Purchase Spend"].map("${: .2f}".format)

SN_df.index.name = "SN"
SN_df.head()

             Purchase Count Avg Purchase Price Total Purchase Spend
SN
Lisosia93                 5             $ 3.79              $ 18.96
Idastidru52               4             $ 3.86              $ 15.45
Chamjask73                3             $ 4.61              $ 13.83
Iral74                    4             $ 3.40              $ 13.62
Iskadarya95               3             $ 4.37              $ 13.10

# Most Popular Items

In [50]:
items = purchase_data.groupby(["Item ID", "Item Name"])
   
items.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [51]:
item_purch_count = items["Price"].count()
item_purch_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Price, dtype: int64

In [52]:
item_price_avg = items["Price"].mean()
item_price_avg.head()

Item ID  Item Name
0        Splinter              1.28
1        Crucifer              3.26
2        Verdict               2.48
3        Phantomlight          2.49
4        Bloodlord's Fetish    1.70
Name: Price, dtype: float64

In [53]:
items_total_val = items["Price"].sum()
items_total_val.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [54]:
item_most_pop_df = pd.DataFrame ({
    "Purchase Count": item_purch_count, "Item Price": item_price_avg, "Total Purchase Value": items_total_val
    })
#formatting
item_most_pop_df["Item Price"] = item_most_pop_df["Item Price"].map("${: .2f}".format)
item_most_pop_df["Total Purchase Value"] = item_most_pop_df["Total Purchase Value"].map("${: .2f}".format)

item_most_pop_df
item_most_pop_df["Purchase Count"].max()
item_most_pop_df = item_most_pop_df.sort_values(["Purchase Count"], ascending=False)
item_most_pop_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77
82,Nirvana,9,$ 4.90,$ 44.10
19,"Pursuit, Cudgel of Necromancy",8,$ 1.02,$ 8.16

# Most Profitable Items

In [55]:
most_profitable = pd.DataFrame({
    "Purchase Count" : item_purch_count, "Item Price": item_price_avg , "Total Purchase Value": items_total_val
})


most_profitable = most_profitable.sort_values(["Total Purchase Value"], ascending=False)

#formatting
most_profitable["Total Purchase Value"] = most_profitable["Total Purchase Value"].map("${: .2f}".format)
most_profitable["Item Price"] = most_profitable["Item Price"].map("${: .2f}".format)


most_profitable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
82,Nirvana,9,$ 4.90,$ 44.10
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
92,Final Critic,8,$ 4.88,$ 39.04
103,Singed Scalpel,8,$ 4.35,$ 34.80